*{font-family: "Roboto", sans-serif;}


body {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}



nav {
    height: 60px;
    width: 100%;
    background-color: #57233A;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav ul {
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

a{
    transition: 0.5s;
    text-decoration: none;
    color: white;
    
}


a:hover{
transform: scale(1.05);
font-weight: bold;
}

nav ul li {
    list-style-type: none;
}

nav ul li button {
    border-radius: 5px;
    background-color: #B98D72;
    color: white;
    width: 100px;
    height: 30px;
    border: transparent;
    transition: 0.5s;
}

nav ul li button:hover{
    background-color: #AE4951;
    cursor: pointer;
    font-weight: bold;
}


.telaAdocao {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.telaAdocao .adoteTardia {
    background-image: url(../assets/img/adotardia.png);
    background-size: cover;
    width: 250px;
    height: 200px;
    margin-top: 90px;
}

.fraseT1 {
    font-size: 35px;
    color: #57233A;
    font-weight: bold;
}




.container {
    font-size: 30px;
    color: #AE4951;
    font-weight: bold;
    margin-top: 10px;
}

.fraseT3 {
    font-size: 20px;
    color: white;
    background-color: #B98D72;
    padding: 8px;
    border-radius: 5px;
    
}

.fraseT4 {
    font-size: 16px;
    width: 840px;
    margin-top: 50px;
}

.corRoxo {
    color: #57233A;
    font-weight: bold;
}

hr {
   margin-top: 90px;
   background-color: #B98D72;
   width: 100%;
}

.passo {
    font-size: 50px;
    color: #57233A;
    font-weight: bolder;
    margin-top: 70px;
    letter-spacing: -2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.passo1 {
    font-size: 50px;
    color: #AE4951;
    letter-spacing: 4px;
    font-weight: bolder;
    margin-top: -10px;
}

#passos {
    width: 70vw;
}

.passo01 {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.passo02 {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.passo03 {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.passo04 {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.passo05 {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.passo06 {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.passo07 {
    display: flex;
    align-items: center;
    margin-top: 18px;
}


.passo01 .numero1 {
    display: inline-block;
    position: relative;
    background-color: #B98D72;
    border-radius: 50%;
    font-size: 30px;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    margin-right: 1vw;
   
    
}


.passo02 .numero2 {
    display: inline-block;
    position: relative;
    background-color: #AE4951;
    border-radius: 50%;
    font-size: 30px;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    margin-right: 1vw;
    margin-top: 16px;
    
}

.passo03 .numero3 {
    display: inline-block;
    position: relative;
    background-color: #57233A;
    border-radius: 50%;
    font-size: 30px;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    margin-right: 1vw;
    margin-top: 16px;
    
}

.passo04 .numero4 {
    display: inline-block;
    position: relative;
    background-color: #B98D72;
    border-radius: 50%;
    font-size: 30px;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    margin-right: 1vw;
    margin-top: 16px;
    
}

.passo05 .numero5 {
    display: inline-block;
    position: relative;
    background-color: #AE4951;
    border-radius: 50%;
    font-size: 30px;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    margin-right: 1vw;
    margin-top: 16px;
    
}

.passo06 .numero6 {
    display: inline-block;
    position: relative;
    background-color: #57233A;
    border-radius: 50%;
    font-size: 30px;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    margin-right: 1vw;
    margin-top: 16px;
    
}

.passo07 .numero7 {
    display: inline-block;
    position: relative;
    background-color: #B98D72;
    border-radius: 50%;
    font-size: 30px;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    margin-right: 1vw;
    margin-top: 16px;
}

.numero1, .numero2, .numero3, .numero4, .numero5, .numero6, .numero7 {
    color: white;
    text-shadow: 2px;
    font-weight: bold;
}



footer {
    width: 100%;
    display: block;
    background-color: #ccc;
    
}
.rodapeLeft{
    margin-left: 200px;
    align-items: center;
}

.rodapeRight{
    margin-left: 700px;
    align-content: center;

    
}


 footer { margin-top: auto; 
    background-color: #57233A; 
    padding: 20px 0; 
    text-align: center; 
} 
    
    .footer-container { display: flex; 
        justify-content: center; 
        align-items: center; 
    } 
    
    .footer-icon { 
        margin: 0 10px; 
    } 
    .footer-icon img { 
        width: 30px; 
        height: 30px; 
        transition: transform 0.3s; 
    } 
    
    .footer-icon img:hover { 
        transform: scale(1.1); }