* {
    font-family: "Roboto", sans-serif;
}


body {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}





nav {
    height: 60px;
    width: 100%;
    background-color: #57233A;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav ul {
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

a {
    transition: 0.5s;
    text-decoration: none;
    color: white;

}


a:hover {
    transform: scale(1.05);
    font-weight: bold;
}

nav ul li {
    list-style-type: none;
}

nav ul li button {
    border-radius: 5px;
    background-color: #B98D72;
    color: white;
    width: 100px;
    height: 30px;
    border: transparent;
    transition: 0.5s;
}

nav ul li button:hover {
    background-color: #AE4951;
    cursor: pointer;
    font-weight: bold;
}

.janela {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/img/relatoLivro2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    margin-top: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Ensure elements are spaced out */
    width: 100%;
    /* Ensure it takes full width */
    padding: 10px;
    /* Optional padding for spacing */
}

.dash {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dash button {
    border-radius: 5px;
    background-color: #AE4951;
    color: white;
    width: auto;
    padding: 0 15px;
    height: 30px;
    border: transparent;
    transition: 0.5s;
    font-size: 18px;
    margin-top: -2px;
}

button:hover {
    background-color: #B98D72;
    cursor: pointer;
    font-weight: bold;
}

.hello {
    font-size: 28px;
    font-weight: 500;
    color: #57233A;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}



.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa_frase {
    display: flex;
    align-items: center;
    justify-content: center;
}

.frase {
    font-size: 22px;
    font-weight: 400;
    color: white;
    display: inline-block;
    background-color: #B98D72;
    letter-spacing: 0.9px;
    width: 60%;
    padding: 5px;
    border-radius: 6px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.166);
    text-align: center;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.escreva {

    font-size: 23px;
    font-weight: 600;
    color: #57233A;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px;

}


#titulo {
    font-size: 24px;
    font-weight: 600;
    color: #57233A;
    padding: 30px;
}

input[type="text"] {
    border-radius: 10px;
    padding: 8px;
    border: 2px solid #57233A;
    font-size: 12px;
    width: 350px;
    box-sizing: border-box;
    height: 10px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #AE4951;
    box-shadow: 0 0 5px rgba(174, 73, 81, 0.5);
}

#form_postagem {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}


textarea {
    border-radius: 10px;
    padding: 8px;
    border: 2px solid #57233A;
    font-size: 12px;
    width: 350px;
    box-sizing: border-box;
    resize: vertical;
}

textarea:focus {
    outline: none;
    border-color: #AE4951;
    box-shadow: 0 0 5px rgba(174, 73, 81, 0.5);

}

button {
    border-radius: 5px;
    background-color: #57233A;
    color: white;
    width: 100px;
    height: 30px;
    border: transparent;
    transition: 0.5s;
    margin-top: -30px;
}

button:hover {
    background-color: #AE4951;
    cursor: pointer;
    font-weight: bold;
}

.mural {
    font-size: 30px;
    font-weight: 900;
    color: #AE4951;
    margin-top: 70px;
}

.publicacao {
    border: solid #57233A 2px;
    height: 200px;
    width: 400px;
    border-radius: 15px;
    display: flex;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: normal;

}

.div-results {
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.feed-container {
    display: flex;
    align-items: center;
    flex-direction: column;

}


.publicacao-nome {
    color: #57233A;
}

.publicacao-titulo {
    color: #57233A;
}

.publicacao-descricao {
    font-weight: 400;

}














/* FOOTER */
footer {
    display: block;
    margin-top: 25px;
    background-color: #57233A;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.rodapeLeft {
    margin-left: 200px;
    align-items: center;
}

.rodapeRight {
    margin-left: 700px;
    align-content: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    margin: 0 10px;
}

.footer-icon img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.footer-icon img:hover {
    transform: scale(1.1);
}