*{font-family: "Roboto", sans-serif;}


body {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}



nav {
    height: 60px;
    width: 100%;
    background-color: #57233A;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav ul {
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

a{
    transition: 0.5s;
    text-decoration: none;
    color: white;
    
}


a:hover{
transform: scale(1.05);
font-weight: bold;
}

nav ul li {
    list-style-type: none;
}

nav ul li button {
    border-radius: 5px;
    background-color: #B98D72;
    color: white;
    width: 100px;
    height: 30px;
    border: transparent;
    transition: 0.5s;
}

nav ul li button:hover{
    background-color: #AE4951;
    cursor: pointer;
    font-weight: bold;
}

.tela {
    background-color: white;
    width: 100%;
    height: 600px;
    display: flex;
}


.tela .tituloSobre {
    color: #AE4951;
    font-size: 90px;
    margin-top: 60px;
    margin-right: 700px;
    font-weight: bold;
    text-decoration: underline #B98D72 2px;
}



.tela .tituloSobre .textoSobreMim {
    font-size: 20px;
    color: black;
    font-weight: normal;
    margin-top: 25px;
    text-decoration: underline #FFF;

}

.tela .fotoSobre {
    background-image: url(../img/sobre.png);
    position: absolute;
    margin-top: 10vh;
    margin-left: 45vw;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60vw;
    height: 90vh;
}

.mapa {
    margin-top: -60px;
    width: 30vw;
    height: 20vh;
    border: 0.2vw solid white;
    border-radius: 1vw;
}