<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css"> 
    <script src="../assets/js/trocaPagina.js"></script>
    <title> ADOÇAO | HOME </title>
</head>

<body>

    <nav>
        <ul>
            <img src="../assets/img/logocora.png" alt="logo" width="80px">
            <li><a href="index.html">HOME</a></li>
            <li><a href="sobremim.html">SOBRE MIM</a></li>
            <li><a href="adocao.html">ADOÇÃO</a></li>
            <li><a href="">ADOÇÃO TARDIA</a></li>
            <li><a href="">RELATOS</a></li>
            <li><a href="">QUIZ</a></li>
            <li><button>LOGIN</button></li>

        </ul>
    </nav>

    <main class="estrutura">

        <div class="imgHome">
            <div class="frase1">ADOTE O AMOR,<br>A <b>ESPERANÇA</b> E<br>A OPORTUNIDADE. </div>
            <div class="frase2"><i>adote com o coração!</i></div>
        </div>
        <div class="imgSobreMim">
            <div class="textoEsquerda"><br><br>
                <h2>SOBRE MIM</h2>
                <br><br>
                <p>A questão da adoção surgiu em <br>minha vida com a chegada da
                    minha<br>irmã, desde então sou voluntária em <br><b>abrigos infantis</b> e busco abordar mais
                    <br>sobre
                    o <b>processo e a importância</b> da <br>adoção para as pessoas.
                </p>
                <button onclick="saibaMais()">SAIBA MAIS</button>

                <div class="line"></div>
            </div>
            <div class="fotoDireita"></div>

        </div>

        <div class="paralax">
            <b class="texto">ADOÇÃO</b>
            <div class="botaoAdocao">
                <button>SAIBA MAIS</button>
            </div>

        </div>
        <div class="adocaoTardia">
            <div class="titulo">
                <div class="titulo1">
                    <p>ADOÇÃO</p>
                </div>
                <div class="titulo2">
                    <p>TARDIA</p>
                </div>
            </div>
            <div class="alinhar">
                <div class="titulo3">
                    <p>você sabe o que é?</p>
                </div>
                <div class="botaoTardia"><button>SAIBA MAIS</button></div>
            </div>
            <div class="textos">

            </div>
        </div>

        <div class="relatos">
            <div class="fraseRelato">RELATOS SOBRE ADOÇÃO</div>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jpAFUvsLhKk?si=Y64mAbOaS7mWWQ3S"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

            <div class="relatoBotao"><button>CLIQUE AQUI</button></div>
        </div>
        <div class="quiz">
            <div class="fotoQuiz"> <img src="../assets/img/fotodoquiz.png" alt="foto"> </div>
            <div class="fraseQuiz">QUIZ</div>
            <div class="botaoQuiz"><button>FAÇA SEU QUIZ</button></div>
        </div>
        <div class="linha"></div>
    </main> 
    <footer>
        <div class="info">
            <div class="rodapeLeft">
                <div class="fotoFooter"> <img src="../assets/img/logocora.png" alt="logo" width="80px"></div>
            </div>
            <div class="rodapeRight">
                <label for="contato">Contato:</label><br>
                <a href="mailto:ruth.magalhaes@sptech.school">Email: ruth.magalhaes@sptech.school</a><br> 
                <a href="tel:11961155011">Celular: (11) 96115-5011</a><br>
            </div> 
        </div>
        
        <hr>
        <p>© 2024 ADOTE - Todos os direitos reservados.</p>
    </footer>    
</body>

</html>