<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="icon" href="../assets/img/logoCoracao.png">
    <link rel="stylesheet" href="../assets/css/login.css">
    <title>LOGIN</title>
</head>

<body>

    <nav>
        <ul>
            <img src="../assets/img/logocora.png" alt="logo" width="80px">
            <li><a href="index.html">HOME</a></li>
            <li><a href="sobremim.html">SOBRE MIM</a></li>
            <li><a href="adocao.html">ADOÇÃO</a></li>
            <li><a href="tardia.html">ADOÇÃO TARDIA</a></li>
            <li><a href="relatos.html">RELATOS</a></li>
            <li><a href="quiz.html">QUIZ</a></li>
            <li><a href="login.html">
                    <button>LOGIN</button></li>
            </a>

        </ul>
    </nav>
    <main>

        <div class="imgLogin">
            <div class="telaLogin">
                <div class="esquerda"> <span class="bemVindo"> Bem Vindo <br><br></span>

                    <span class="novoLogin"> NOVO LOGIN<br><br></span>
                    <a href="cadastro.html"> <span class="criarConta"> <button>Criar conta</button>
                        </span></a>

                </div>
                <div class="direita">
                    <span class="login"> FAÇA SEU LOGIN <br><br></span>
                    <span> email <br><input type="text" id="input_email" class="email"
                            placeholder="email"><br><br></span>



                    <span class="senha">senha<br>
                        <div class="senhas">
                            <div class="inputSenha">

                                <input type="password" id="input_senha" class="senha" placeholder="senha">
                            </div>
                            <div id="botao_ocultar" class="olho" onclick="ocultar()">
                                <img id="olho_ocultar" src="../assets/img/olho_aberto.png">

                            </div>
                        </div>

                    </span><br><br>

                    <a href="index.html"><span> <button>entrar</button> </span></a>
                </div>
            </div>


        </div>

    </main>
</body>

</html>

<script>
    function ocultar() {
        if (input_senha.type == "password") {
            input_senha.type = "text";
            botao_ocultar.innerHTML = '<img id="img_ocultar" src="../assets/img/olho_fechado.png">';
        } else {
            input_senha.type = "password";
            botao_ocultar.innerHTML = '<img id="img_ocultar" src="../assets/img/olho_aberto.png">';
        }
    }
</script>