<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/sobremim.css">
    <title> SOBRE MIM </title>
</head>

<body>
    <nav>
        <ul>
            <img src="../assets/img/logocora.png" alt="logo" width="80px">
            <li><a href="index.html">HOME</a></li>
            <li><a href="sobremim.html">SOBRE MIM</a></li>
            <li><a href="adocao.html">ADOÇÃO</a></li>
            <li><a href="">ADOÇÃO TARDIA</a></li>
            <li><a href="">RELATOS</a></li>
            <li><a href="">QUIZ</a></li>
            <li><button>LOGIN</button></li>

        </ul>
    </nav>
<main>
    <div class="tela">
        
        <div class="tituloSobre">SOBRE MIM
          
        <div class="textoSobreMim"> <b>Olá, eu me chamo Ruth!</b><br><br>
            A adoção surgiu em minha vida com a chegada<br>
            da minha irmã e desde então busquei me aprofundar<br> mais sobre este assunto. Atualmente sou voluntária <br>
            em um abrigo infantil. <br>
            Acredito que a adoção é uma via dupla <br>
            de amor, cuidado, carinho e atenção. <br>
            Criei este site com o intuito de atenuar alguns pré<br>-conceitos sobre a adoção e disseminar informações a <br> cerca da adoção. <br><br> <i>Espero que você goste deste conteúdo!</i></div>

        </div>
        <div class="fotoSobre"></div>
    </div>
</main>   

</body>

</html>